html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
body {
	min-width: 320px;
	min-height: 100vh;
}
a {
	outline-color: transparent!important;
}
a,
a:hover,
a:focus {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.site-main {
	position: relative;
	z-index: 0;
	padding-top: 80px;
}
.menu-is-open.site-main,
.menu-is-open.site-main + .site-footer {
	display: none;
}
/* variables */
:root {
	--black: #202C39;
	--gray: #9DA0A4;
	--lightGray: #F7F9FC;
	--turquoise: #19BACC;
	--orange: #C9903A;
	--green: #4ACE95;
	--elasticMove: 0.3, 0.5, 0.5, 1.5;
	--elasticMove2: .22,.68,0,1.71;
	--lightMove: 0.3, 0, 0.5, 1.5;
	--rockMove: 0.3, -0.5, 0.5, 1.5;
}
.site-header {
	position: absolute;
	top: 0;
	right: auto;
	left: auto;
	z-index: 1;
	width: 100%;
	background-color: white;	
	-webkit-transition: padding .3s;	
	transition: padding .3s;
	min-height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E8E8E8;
}
.is-fixed.site-header {	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
}
.menu	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.site-footer {
	width: 100%;
	background-color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 100px;
}
.menu-button:not(.is-closed) {
	position: fixed;
	top: 0;
	right: 0;
}
.menu-button:not(.is-closed) span {
	background-color: #4ACE95;
}
.menu-button:not(.is-closed) .menu-button__wrapper span:nth-child(1) {
	-webkit-transform: translateY(10px) rotate(45deg) scale(1.2);
	        transform: translateY(10px) rotate(45deg) scale(1.2)
}
.menu-button:not(.is-closed) .menu-button__wrapper span:nth-child(2) {
	-webkit-transform: rotateY(90deg);
	        transform: rotateY(90deg) 
}
.menu-button:not(.is-closed) .menu-button__wrapper span:nth-child(3) {
	-webkit-transform: translateY(-10px) rotate(-45deg) scale(1.2);
	        transform: translateY(-10px) rotate(-45deg) scale(1.2)
}
.menu-nav {
	width: 100%;
	background-color: transparent;
}
.menu-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 60px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.menu-nav ul li a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
	text-transform: uppercase;
}
.menu-nav ul li:not(:first-child) {
	padding-left: 15px;
	padding-right: 15px;
}
.menu-nav ul li:first-child {
	margin-right: auto;
}
.menu-nav ul li:first-child a {
	display: inline-block;
}
.menu-nav ul li:first-child a img {
	/* max-height: 50px; */
	/* width: auto; */
}
.menu-nav ul li a:hover {
	opacity: .7;
}
.menu-nav ul li a {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #202C39;
}
.menu-nav ul .active a {
	color: #4ACE95;
}
.menu-nav ul li:nth-last-child(1) a,
.menu-nav ul li:nth-last-child(2) a {
	display: block;
	height: 34px;
	font-weight: 600;
	font-size: 14px;
	line-height: 32px;
	font-family: "Open Sans";
	text-align: center;
	border: 1px solid #4ACE95;
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
}
.menu .is-open.menu-nav ul li:nth-last-child(1) a,
.menu .is-open.menu-nav ul li:nth-last-child(2) a {
	width: 200px;
	font-size: 18px;
	line-height: 32px;
	margin-left: auto;
	margin-right: auto;
}
.menu .menu-nav ul li:nth-last-child(1) a {		
	width: 166px;
	color: #FFFFFF;
	background-color: #4ACE95;
}
.menu .menu-nav ul li:nth-last-child(2) a {
	width: 110px;
	color: #4ACE95;
	background-color: white;
}
.menu .menu-nav ul li:nth-last-child(1) a:hover {
	color: #4ACE95;
	background-color: white;
	opacity: 1;
}
.menu .menu-nav ul li:nth-last-child(2) a:hover {
	color: #FFFFFF;
	background-color: #4ACE95;
	opacity: 1;
}
/* .menu-nav ul li:nth-child(2) {
	order: -1;
	margin-right: auto;
}

.site-header--index .menu-nav ul li:nth-child(2),
.menu-nav.is-open ul li:nth-child(2) {
	display: none;
}

@media (width <= 1199px) {
	.site-header:not(.site-header--index) .menu-nav:not(.is-open) ul li:nth-child(2) {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
} */
.all-sites {
	position: fixed;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100px;
	background-color: #FFF;
	-webkit-transition: visibility .5s, -webkit-transform .5s cubic-bezier(var(--elasticMove));
	transition: visibility .5s, -webkit-transform .5s cubic-bezier(var(--elasticMove));
	transition: transform .5s cubic-bezier(var(--elasticMove)), visibility .5s;
	transition: transform .5s cubic-bezier(var(--elasticMove)), visibility .5s, -webkit-transform .5s cubic-bezier(var(--elasticMove));
	border-top: 1px solid #E8E8E8;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	visibility: hidden;
	pointer-events: none;
	-webkit-transform: translateY(100%);
	        transform: translateY(100%);
}
.all-sites.active {
	visibility: visible;
	pointer-events: all;
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}
.all-sites ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.all-sites ul li {
	margin-left: 10px;
	margin-right: 10px;
}
.index-slider {
	position: relative;
	width: 100%;
	background-color: #FFF;
}
.index-slide {
	width: 100%;
	height: 540px;
	overflow: hidden;
}
.index-slide__img picture,
.index-slide__img img {
	position: relative;
	display: block;
	width: 100%;
	height:100%;
	min-height: 540px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.index-slide__text {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.index-slide__text h2 {
	font-weight: bold;
	font-size: 64px;
	line-height: 87px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	text-transform: uppercase;
}
.index-slide__text a {
	height: 50px;
	font-weight: 600;
	font-size: 20px;
	line-height: 50px;
	font-family: "Open Sans";
	text-align: center;
	color: #4ACE95;
	background-color: #FFFFFF;
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .08);
}
.index-slide__text a:hover {
	color: white;
	background-color: #4ACE95;
}
.index-slider__controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.index-slider__controls .container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.index-slider__controls .container::before,
.index-slider__controls .container::after {
	display: none;
}
.index-slider__controls span {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 70px;
	height: 70px;
	background-color: rgba(246, 247, 248, .8);
	border-radius: 50%;
	pointer-events: all;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}
.index-slider__controls .index-slider__left {
	left: 0;
}
.index-slider__controls .index-slider__right {
	right: 0;
}
.index-slider__controls svg {
	width: 36px;
	height: 21px;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	stroke: #202C39;
	stroke-width: 1px;
	stroke-linecap: round;
	overflow: visible;
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.index-slider__controls span:hover svg {
	-webkit-transform: scale(1.5);
	        transform: scale(1.5);
}
.index-slider__controls span path {
	fill: #202C39;
}
.index-slider__controls span:nth-child(2) svg {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.index-slider__controls span:nth-child(2):hover svg {
	-webkit-transform: rotate(180deg) scale(1.5);
	        transform: rotate(180deg) scale(1.5);
}
.index-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 220px;
	background-color: #FFF;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.index-tabs ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.index-tabs ul li {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.index-tabs ul li:hover {
	opacity: 0.7;
}
.index-main-text {
	padding-top: 100px;
	padding-bottom: 50px;
}
.index-main-text__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.index-main-text__text {
	-ms-flex-preferred-size: 460px;
	    flex-basis: 460px;
	max-width: 460px;
}
.index-main-text__text h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 41px;
	font-family: "Open Sans";
	color: #202C39;
	margin-top: 50px;
	margin-bottom: 20px;
}
.index-main-text__text h3 {
	position: relative;
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	font-family: "Open Sans";
	color: #202C39;
	margin-top: 0;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.index-main-text__text h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 80px;
	height: 4px;
	background-color: #4ACE95;
	border-radius: 100px;
	content: "";
}
.index-main-text__text p {
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans";
	color: #9DA0A4;
	margin-top: 0;
	margin-bottom: 30px;
}
.index-main-text__text a {
	display: block;
	width: 180px;
	height: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 48px;
	font-family: "Open Sans";
	text-align: center;
	color: #FFFFFF;
	background-color: #4ACE95;
	border: 1px solid #4ACE95;
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.index-main-text__text a:hover {
	color: #4ACE95;
	background-color: white;
}
.index-main-text__img {
	-ms-flex-preferred-size: 560px;
	    flex-basis: 560px;
	max-width: 560px;
}
.index-main-text__img img,
.index-main-text__img picture {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 6px;
	-webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .08);
}
.service-list {
	padding-top: 70px;
	margin-bottom: 100px;
}
.service-list h1,
.service-list h2 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	margin-top: 0;
	margin-bottom: 20px;
}
.service-list p {
	width: 750px;
	margin: 0 auto 50px;
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: center;
	color: #9DA0A4;
	max-width: 100%;
}
.service-list__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.service-item {
	width: 160px;
	height: 160px;
	margin: 30px;
}
.service-item__container {
	display: block;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
	text-decoration: none;
}
.service-item__front,
.service-item__back {
	width: 160px; 
	height: 160px;
	border-radius: 80px;
	-webkit-transition: -webkit-transform .7s cubic-bezier(var(--lightMove));
	transition: -webkit-transform .7s cubic-bezier(var(--lightMove));
	transition: transform .7s cubic-bezier(var(--lightMove));
	transition: transform .7s cubic-bezier(var(--lightMove)), -webkit-transform .7s cubic-bezier(var(--lightMove));
}
.service-item__front {
	overflow: hidden;
	-webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .15);
	        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .15);
}
.service-item__back {
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;	
}
.service-item__inner p {
	position: relative;
	padding: 0 10px 15px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	font-family: "Open Sans";
	text-align: center;
	color: #FFFFFF;
	text-transform: capitalize;
	margin-bottom: 0;
}
.service-item__inner p::after {
	position: absolute;
	bottom: 0;
	left: calc(50% - 20px);
	display: block;
	width: 40px;
	height: 2px;
	background-color: #FFFFFF;
	border-radius: 5px;
	content: "";
}
.latest-blog-posts {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}
.latest-blog-posts__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 60px;
	justify-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.latest-blog-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 340px;
	text-align: center;
	grid-column-end: span 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: left;
	    -ms-flex-align: left;
	        align-items: left;
	margin-bottom: 50px;
	max-width: calc(100vw - 20px);
}
.latest-blog-item a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.latest-blog-item a:hover {
	opacity: 0.7;
}
.latest-blog-item__img {
	margin-bottom: 20px;
}
.latest-blog-item__img img {
	height: auto;
	border-radius: 4px;
	max-width: 100%;
}
.latest-blog-item span {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--green);
	margin-bottom: 14px;
}
.latest-blog-item h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--black);
	margin-bottom: 14px;
	margin-top: 0;
}
.latest-blog-item p {
	font-size: 13px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--gray);
	margin-bottom: 0;
	margin-top: 0;
}
.subscribe {
	width: 100%;
	background: linear-gradient(225deg, #E6F3F8 0%, #C9E3EF 100%);
}
.subscribe__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	min-height: 500px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.subscribe h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 30px;
}
.subscribe p {
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	margin-bottom: 50px;
}
.subscribe form,
div.wpcf7 {
	position: relative;
	width: 555px;
	max-width: 100%;
}
.subscribe .subscribe__email {
	width: 100%;
	height: 58px;
	padding: 18px 158px 18px 28px;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	background-color: #FFFFFF;
	border: 1px solid transparent;
	border-radius: 100px;
	-webkit-transition: border-color .3s;
	transition: border-color .3s;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
	outline-color: transparent;
}
.subscribe .subscribe__email:focus {
	border-color: var(--green);
}
.subscribe .subscribe__submit {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 130px;
	height: 46px;
	font-weight: 600;
	font-size: 14px;
	line-height: 44px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #FFFFFF;
	background-color: var(--green);
	border: 1px solid var(--green);
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	text-transform: uppercase;
	outline-color: transparent;
}
.subscribe .subscribe__submit:hover {
	color: var(--green);
	background-color: #FFF;
}
.share-list {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 80px;
}
.share-list__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.share-list__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 160px;
	height: 56px;
	margin: 15px;
	background-color: #E1E4E8;
	border-radius: 100px;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.share-list__item span {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	font-family: "Open Sans";
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-left: 20px;
}
.share-list__item:nth-child(1):hover {background-color: #3B5998;}
.share-list__item:nth-child(2):hover {background-color: #55ACEE;}
.share-list__item:nth-child(3):hover {background-color: #DD4B39;}
.share-list__item:nth-child(4):hover {background-color: #4ACE95;}
.btn {
	width: 220px;
	height: 66px;
	padding: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 66px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	border-radius: 100px;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;	
	-webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .12);	
	        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .12);
	margin-top: 30px;
}
.btn--white {
	color: #C9903A;
	background-color: #FFFFFF;
}
.btn--white:hover {
	color: #FFFFFF;
	background-color: #C9903A;
}
.btn--turquoise,
.btn--green {
	width: 180px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	color: white;
	background-color: var(--green);	
}
.btn--turquoise:hover,
.btn--green:hover {
	color: var(--green);
	background-color: white;	
}
.about-list {
	padding-top: 70px;
	margin-bottom: 100px;
}
.about-list h1 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	margin-top: 0;
	margin-bottom: 20px;
}
.about-list p {
	width: 750px;
	margin: 0 auto 50px;
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: center;
	color: #9DA0A4;
	max-width: 100%;
}
.about-list__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.about-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 255px;
	margin: 15px;
	padding: 40px 20px;
	background-color: #FFFFFF;
	border-radius: 6px;
	-webkit-transition: -webkit-box-shadow .3s;
	transition: -webkit-box-shadow .3s;
	transition: box-shadow .3s;
	transition: box-shadow .3s, -webkit-box-shadow .3s;
	min-height: 400px;
	-webkit-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .1);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.about-item:hover {
	-webkit-box-shadow: 0 14px 40px 0 rgba(0, 0, 0, .14);
	        box-shadow: 0 14px 40px 0 rgba(0, 0, 0, .14);
	text-decoration: none;
}
.about-item img {
	display: block;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	-o-object-position: center;
	   object-position: center;
	-o-object-fit: cover;
	   object-fit: cover;
	margin-bottom: 25px;
}
.about-item h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	-webkit-transition: color .3s;
	transition: color .3s;
	margin-top: 0;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.about-item:hover h3 {
	color: #4ACE95;
}
.about-item h4 {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	font-family: "Open Sans";
	text-align: center;
	color: #E9AC5C;
	margin-top: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.about-item p {
	font-size: 14px;
	line-height: 26px;
	font-family: "Open Sans";
	text-align: center;
	color: #9DA0A4;
	margin-top: 0;
	margin-bottom: 0;
}
.specials-list {
	padding-top: 70px;
	margin-bottom: 50px;
}
.specials-list h1 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	margin-top: 0;
	margin-bottom: 20px;
}
.specials-list p {
	width: 750px;
	margin: 0 auto 50px;
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: center;
	color: #9DA0A4;
	max-width: 100%;
}
.specials-list__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.specials-item {
	margin-bottom: 50px;
}
.specials-item__wrapper {
	display: block;
	width: 400px;
	height: auto;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	-webkit-transition: -webkit-box-shadow .3s;
	transition: -webkit-box-shadow .3s;
	transition: box-shadow .3s;
	transition: box-shadow .3s, -webkit-box-shadow .3s;
	min-height: 340px;
	max-width: 100%;
	-webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .08);	
	margin-bottom: 40px;
}
.specials-item__wrapper:hover {
	-webkit-box-shadow: 0 14px 40px 0 rgba(0, 0, 0, .14);
	        box-shadow: 0 14px 40px 0 rgba(0, 0, 0, .14);
	text-decoration: none;
}
.specials-item__btn {
	display: block;
	width: 180px;
	height: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 48px;
	font-family: "Open Sans";
	text-align: center;
	color: #FFFFFF;
	background-color: #4ACE95;
	border: 1px solid #4ACE95;
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
}
.specials-item__btn:hover {
	color: #4ACE95;
	background-color: white;
}
.tour-list {
	padding-top: 70px;
	margin-bottom: 100px;
}
.tour-list h1 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	margin-top: 0;
	margin-bottom: 20px;
}
.tour-list p {
	width: 750px;
	margin: 0 auto 50px;
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: center;
	color: #9DA0A4;
	max-width: 100%;
}
.tour-list__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: 50px;
}
.tour-list__links a {
	display: inline-block;
	height: 40px;
	margin: 7px;
	font-weight: 600;
	font-size: 14px;
	line-height: 40px;
	font-family: "Open Sans";
	text-align: center;
	color: #7C8199;
	background-color: #EEF1F4;
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	padding-left: 20px;
	padding-right: 20px;
}
.tour-list__links a:hover {
	color: #FFF;
	background-color: #4ACE95;
}
.tour-list__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.tour-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.tour-item:not(:last-child) {
	margin-bottom: 160px;
}
.tour-item__text {
	-ms-flex-preferred-size: 460px;
	    flex-basis: 460px;
	max-width: 460px;
}
.tour-item__text h2 {
	position: relative;
	font-weight: 600;
	font-size: 36px;
	line-height: 41px;
	font-family: "Open Sans";
	color: #202C39;
	margin-top: 50px;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.tour-item__text h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 80px;
	height: 4px;
	background-color: #4ACE95;
	border-radius: 100px;
	content: "";
}
.tour-item__text p {
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: left;
	color: #9DA0A4;
	margin-top: 0;
	margin-bottom: 30px;
}
.tour-item__img {
	position: relative;
	-ms-flex-preferred-size: 570px;
	    flex-basis: 570px;
	max-width: 570px;
}
.tour-item__img img,
.tour-item__img picture {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 6px;
}
.tour-slider__controls {
	position: absolute;
	top: -36px;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.tour-slider__controls .container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.tour-slider__controls .container::before,
.tour-slider__controls .container::after {
	display: none;
}
.tour-slider__controls span {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 54px;
	height: 54px;
	background-color: rgba(246, 247, 248, .8);
	border-radius: 50%;
	pointer-events: all;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}
.tour-slider__controls .tour-slider__left {
	left: 15px;
}
.tour-slider__controls .tour-slider__right {
	right: 15px;
}
.tour-slider__controls svg {
	width: 36px;
	height: 21px;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	stroke: #202C39;
	stroke-width: 1px;
	stroke-linecap: round;
	overflow: visible;
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.tour-slider__controls span:hover svg {
	-webkit-transform: scale(1.5);
	        transform: scale(1.5);
}
.tour-slider__controls span path {
	fill: #202C39;
}
.tour-slider__controls span:nth-child(2) svg {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.tour-slider__controls span:nth-child(2):hover svg {
	-webkit-transform: rotate(180deg) scale(1.5);
	        transform: rotate(180deg) scale(1.5);
}
.tour-slider__item > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-top: 40px;
}
.tour-slider__item > div span {
	font-size: 18px;
	line-height: 24px;
	font-family: "Open Sans";
	text-align: center;
	color: #A5A7A9;
	min-width: 100px;
}
.tour-slider__item > div span::first-letter {
	font-size: 24px;
	line-height: 24px;
	font-family: "Open Sans";
	color: #202C39;
}
.tour-slider__item > div p {
	margin: 0 15px;
	font-size: 12px;
	line-height: 22px;
	font-family: "Open Sans";
	text-align: left;
	color: #9DA0A4;
}
.spa-package-list {
	padding-top: 70px;
	margin-bottom: 50px;
}
.spa-package-list h1 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	margin-top: 0;
	margin-bottom: 20px;
}
.spa-package-list p {
	width: 750px;
	margin: 0 auto 50px;
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: center;
	color: #9DA0A4;
	max-width: 100%;
}
.spa-package-list__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.spa-package-item {
	margin: 50px 25px;
}
.spa-package-item__wrapper {
	display: block;
	width: 400px;
	height: auto;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	-webkit-transition: -webkit-box-shadow .3s;
	transition: -webkit-box-shadow .3s;
	transition: box-shadow .3s;
	transition: box-shadow .3s, -webkit-box-shadow .3s;
	min-height: 340px;
	max-width: 100%;
	-webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .08);	
	margin-bottom: 40px;
}
.spa-package-item__wrapper:hover {
	-webkit-box-shadow: 0 14px 40px 0 rgba(0, 0, 0, .14);
	        box-shadow: 0 14px 40px 0 rgba(0, 0, 0, .14);
	text-decoration: none;
}
.spa-package-item__btn {
	display: block;
	width: 180px;
	height: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 48px;
	font-family: "Open Sans";
	text-align: center;
	color: #FFFFFF;
	background-color: #4ACE95;
	border: 1px solid #4ACE95;
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
}
.spa-package-item__btn:hover {
	color: #4ACE95;
	background-color: white;
}
.text-page {
	padding-top: 70px;
	margin-bottom: 100px;
}
.text-img__wrapper {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
	margin-bottom: 50px;
}
.text-img__wrapper picture,
.text-img__wrapper img {
	display: block;
	width: 100%;
	height: 500px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.text-page h1 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	margin-top: 0;
	margin-bottom: 50px;
}
.text-container {
	width: 750px;
	margin: 0 auto 50px;
	max-width: 100%;
}
.text-page h2 {
	font-weight: 600;
	font-size: 26px;
	font-family: "Open Sans";	
}
.text-page h3 {
	font-weight: 600;
	font-size: 24px;
	font-family: "Open Sans";	
}
.text-page p,
.text-page p a,
.text-page li {
	font-size: 14px;
	line-height: 28px;
	font-family: "Open Sans";
	color: #202C39;
}
.text-page p a {
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	border-bottom: 1px solid currentColor;
}
.text-page p a:hover {
	border-bottom-color: transparent;
}
.index-tabs--blog {
	margin-top: 0;
	margin-bottom: 50px;
	padding-top: 60px;
	padding-bottom: 50px;
}
.index-tabs--blog ul {
	margin-top: 0;
}
.blog-title__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.blog-title h1 {
	font-weight: 600;
	font-size: 36px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 0;
}
.blog-title__category-btn {
	display: block;
	width: 160px;
	height: 30px;
	background-color: transparent;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
	outline-color: transparent;
}
.blog-title__category-btn span {
	display: inline-block;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--gray);
}
.blog-title__category-btn svg {
	display: inline-block;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	-webkit-transform: rotate(90deg) scaleX(1);
	        transform: rotate(90deg) scaleX(1);
	margin-left: 10px;
}
.blog-title__category-btn.collapsed svg {
	-webkit-transform: rotate(90deg) scaleX(-1);
	        transform: rotate(90deg) scaleX(-1);
}
.blog-title__category-btn path {
	fill: var(--gray);
}
.blog-title .collapse {
	display: none;
}
.blog-title .collapse.in {
	z-index: 1;
	display: block;
}
.blog-title .collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	        transition-duration: .35s;
	-webkit-transition-property: height,visibility;
	transition-property: height,visibility;
}
.blog-title__category-dropdown ul {
	display: block;
	width: 160px;
	margin: 0 auto;
	padding: 15px 10px;
	background-color: #FFFFFF;
	list-style: none;
	-webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .14);
	        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .14);
}
.blog-title__category-dropdown li:not(:last-child) {
	margin-bottom: 15px;
}
.blog-title__category-dropdown li a {
	display: inline-block;
	width: 100%;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}
.blog-title__category-dropdown li:hover a,
.blog-title__category-dropdown li.active a {
	color: var(--black);
}
.blog-items .btn {
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
}
.article-img {
	width: 100%;
	margin-bottom: 50px;
	padding-top: 80px;
}
.article-img__wrapper {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.article-img--without-img .article-img__wrapper {
	height: auto;
}
.article-img picture,
.article-img img {
	display: block;
	width: 100%;
	height: 500px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.article-img__title {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.article-img--without-img .article-img__title {
	position: static;
	padding-top: 0;
	padding-bottom: 0;
}
.article-img__title h1  {
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 20px;
}
.article-img__title p  {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
}
.article-img--without-img .article-img__title h1 {
	color: #202C39;
}
.article-img--without-img .article-img__title p {
	color: #A5A7A9;
}
.article-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 990px;
	margin: 0 auto;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	max-width: 100%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.article-content__main {
	-ms-flex-preferred-size: 670px;
	    flex-basis: 670px;
	max-width: 670px;
}
.article-content__sidebar {
	-ms-flex-preferred-size: 270px;
	    flex-basis: 270px;
	max-width: 270px;
}
.article-content__main p,
.article-content__main li {
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
}
.article-content__main img {
	display: block;
	margin: 40px auto 10px;
	max-width: 100%;
}
.article-content__main small {
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	margin-bottom: 30px;
}
blockquote {
	position: relative;
	padding: 0 0 0 60px;
	font-style: italic;
	font-size: 20px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	margin-top: 40px;
	margin-bottom: 40px;
	border-left: none;
}
blockquote::before {
	position: absolute;
	top: 25px;
	left: 0;
	font-style: italic;
	font-size: 100px;
	color: var(--gray);
	content: "”";
}
.sidebar-subscribe form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.sidebar-subscribe .subscribe__email {
	width: 270px;
	height: 50px;
	padding: 18px;
	font-size: 14px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	color: #A5A7A9;
	background-color: #F7F9FC;
	border: 1px solid #EDEDED;
	border-radius: 6px;
	max-width: 100%;
	margin-bottom: 25px;
}
.sidebar-subscribe .subscribe__submit {
	width: 270px;
	height: 50px;
	padding: 15px;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #FFFFFF;
	background-color: var(--green);
	border: 1px solid var(--green);	
	border-radius: 100px;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
	max-width: 100%;
	margin-bottom: 50px;
	cursor: pointer;
}
.sidebar-subscribe .subscribe__submit:hover {
	color: var(--green);
	background-color: #FFF;
}
.sidebar-share p {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 0;
}
.sidebar-share__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.sidebar-share a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.sidebar-share a:hover {
	opacity: 0.7;
}
.contact-form {
	padding-top: 60px;
	margin-bottom: 80px;
}
.contact-form h1 {
	font-weight: 600;
	font-size: 30px;
	line-height: 49px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;	
	margin-top: 0;
	margin-bottom: 40px;
}
.contact-form__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 750px;
	padding: 0;
	max-width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}
.form-half-line {
	-ms-flex-preferred-size: calc(50% - 15px);
	    flex-basis: calc(50% - 15px);
	max-width: calc(50% - 15px);
}
.form-half-line:not(:first-child) {
	margin-left: auto;
}
.form-line {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	max-width: 100%;
}
.form-input,
.form-textarea {
	width: 100%;
	height: 50px;
	font-size: 14px;
	line-height: 48px;
	font-family: "Open Sans";
	color: #A5A7A9;
	background-color: #F7F9FC;
	border: 1px solid #EDEDED;
	border-radius: 6px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.form-textarea {
	height: 150px;
	resize: vertical;
}
.contacts-form__btn {
	display: block;
	width: 190px;
	height: 50px;
	margin: 10px auto 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 48px;
	font-family: "Open Sans";
	text-align: center;
	color: #FFFFFF;
	background-color: #4ACE95;
	border: 1px solid #4ACE95;
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	cursor: pointer;
	text-transform: uppercase;
}
.contacts-form__btn:hover {
	color: #4ACE95;
	background-color: #FFFFFF;
}
.contact-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 360px;
	padding: 0;
	max-width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;	
}
.contact-text h2 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
}
.contact-text p {
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	font-family: "Open Sans";
	text-align: center;
	color: #202C39;
	margin-top: 0;
	margin-bottom: 0;
}
.contact-text p a {
	color: #4ACE95;
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	border-bottom: 1px solid transparent;
}
.contact-text p a:hover {
	border-bottom-color: #4ACE95;
}
.contact-text .btn {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}
.contact-map {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 950px;
	margin: 100px auto;
	padding: 0;
	max-width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.contact-map p {
	font-size: 14px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: center;
	color: #A5A7A9;
	margin-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.footer-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
	margin-bottom: 80px;
}
.footer-top-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 340px;
	    flex-basis: 340px;
	max-width: 340px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.footer-top-item h3 {
	position: relative;
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	font-family: "Open Sans";
	color: #202C39;
	margin-top: 0;
	margin-bottom: 25px;
	padding-bottom: 25px;
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;
}
.footer-top-item h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 40px;
	height: 4px;
	background-color: #4ACE95;
	border-radius: 100px;
	content: "";
}
.footer-top-item ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.footer-top-item ul a {
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	font-family: "Open Sans";
	color: #A5A7A9;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}
.footer-top-item ul a:hover,
.footer-top-item ul .active a {
	color: #4ACE95;
}
.social-widtget-wrapper {
	border: 1px solid #eaeaea;
	border-radius: 5px;
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	min-height: 205px;
}
.footer-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.footer-bottom  a,
.footer-bottom  b {
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;
}
.footer-bottom a {
	display: inline-block;
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.footer-bottom a:hover {
	opacity: 0.7;
}
.footer-bottom  p {
	font-size: 12px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: right;
	color: #9DA0A4;
}
@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
	.container {
		max-width: 970px;
	}}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
	.menu-button {
		display: none;
	}
	.menu-nav ul li:nth-last-child(1),
	.menu-nav ul li:nth-last-child(2) {
		padding-left: 0;
		padding-right: 0;
		margin-left: 30px;
	}

	.menu-nav ul li:nth-last-child(3) {
		margin-right: auto;
	}
	.all-sites ul li a {
		display: block;
		-webkit-transition: -webkit-transform .3s cubic-bezier(.22,.68,0,1.71);
		transition: -webkit-transform .3s cubic-bezier(.22,.68,0,1.71);
		transition: transform .3s cubic-bezier(.22,.68,0,1.71);
		transition: transform .3s cubic-bezier(.22,.68,0,1.71), -webkit-transform .3s cubic-bezier(.22,.68,0,1.71);
		will-change: transform;
		-webkit-transform: translateY(0);
		        transform: translateY(0); 
	}

	.all-sites ul li a:hover {
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	.service-item__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(74, 206, 149, .8);
	}

	.service-item__inner {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		height: 100%;
		-webkit-transform: translateZ(50px);
		        transform: translateZ(50px);
		-webkit-perspective: inherit;
		        perspective: inherit;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.service-item__container .service-item__back {
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
		-webkit-transform-style: preserve-3d;
		        transform-style: preserve-3d;
	}

	.service-item__container .service-item__front {
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
		-webkit-transform-style: preserve-3d;
		        transform-style: preserve-3d;
	}

	.service-item__container:hover .service-item__back {
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
	}

	.service-item__container:hover .service-item__front {
		-webkit-transform: rotateY(-180deg);
		        transform: rotateY(-180deg);
	}
	.tour-item:nth-child(even) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}
	.footer-top-item:first-child {
		margin-right: auto;
	}

	.footer-top-item:not(:first-child) {
		margin-left: 70px;
	}}
@media (max-width: 1199px) {
	.site-header {
		min-height: 80px;
	}

	.is-fixed.site-header {
		display: none !important;
	}
	.menu-button {
		display: block;
		width: 100%;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}

	.is-open + .menu-button {
		background-color: rgba(255, 255, 255, .95);
		border-bottom: 1px solid #E8E8E8;
		min-height: 81px;
	}

	.menu-button__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 32px;
		height: 42px;
		margin: 18px 40px 18px auto;
		padding: 0;
		border: none;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		cursor: pointer;
	}

	.is-open + .menu-button .menu-button__wrapper {
		position: absolute;
		top: 0;
		right: 0;
	}

	.is-closed .menu-button__wrapper {
		margin: 8px 0 8px auto;
	}

	.menu-button__wrapper span {
		display: block;
		width: 32px;
		height: 3px;
		background-color: #4ACE95;
		opacity: 1;
		-webkit-transition: opacity .3s, -webkit-transform .3s;
		transition: opacity .3s, -webkit-transform .3s;
		transition: transform .3s, opacity .3s;
		transition: transform .3s, opacity .3s, -webkit-transform .3s;
		will-change: opacity, transform;
	}

	.menu-button__wrapper:hover span {
		opacity: 0.7;
	}

	.menu-button.is-closed .menu-button__wrapper span {
		-webkit-transform-origin: center center;
		        transform-origin: center center;
		-webkit-transform: translate(0,0) rotate(0);
		        transform: translate(0,0) rotate(0);
	}

	.menu-button__wrapper span + span {
		margin-top: 7px;
	}
	.menu-nav {
		-ms-flex-preferred-size: calc(100% - 22px);
		    flex-basis: calc(100% - 22px);
		max-width: calc(100% - 22px);
		padding-right: 40px;
	}

	.menu-nav ul li:not(:first-child) {
		display: none;
	}

	.menu-nav.is-open {
		position: static;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, .95);
		-webkit-transition: background-color .5s;
		transition: background-color .5s;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		padding-right: 0;		
	}

	.menu-nav.is-open ul {
		width: 100%;
		height: auto;
		min-height: calc(100vh - 21px);
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding-top: 80px;
		padding-bottom: 20px;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.menu-nav.is-open ul li {
		width: 100%;
		text-align: center;
	}

	.menu-nav.is-open ul li a {
		color: #202C39;
		-webkit-transition: color .3s;
		transition: color .3s;
	}

	.menu-nav.is-open ul li a:hover {
		color: #4ACE95;
		opacity: 1;
	}

	.menu-nav.is-open ul li:first-child {
		position: fixed;
		top: 12px;
		left: 40px;
		z-index: 1;
		width: 150px;
		text-align: left;
	}

	.menu-nav.is-open ul li:not(:first-child) {
		margin-top: 24px;
	}

	.menu-nav.is-open ul li:not(:first-child) a {
		font-size: 32px;
		line-height: 1;
	}

	.menu-nav.is-open ul li:not(:first-child) {
		display: block;
	}
	.index-tabs {
		height: 160px;
	}

	.index-tabs ul li {
		margin: 10px;
		-ms-flex-preferred-size: 81px;
		    flex-basis: 81px;
		max-width: 81px;
	}
	.index-main-text {
		padding-top: 20px;
	}
	.index-main-text__img {
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}
	.index-main-text__wrapper {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.index-main-text__text {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.index-main-text__text h3::after {
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}

	.index-main-text__text a {
		margin-left: auto;
		margin-right: auto;
	}
	.service-item,
	.service-item__back {
		height: auto;
	}

	.service-item__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.service-item__inner p {
		color: #4ACE95;
		margin-top: 15px;
	}

	.service-item__inner p::after {
		background-color: #4ACE95;
	}
	.latest-blog-posts__wrapper {
		grid-template-columns: repeat(2, 340px);
		grid-gap: 30px;
	}
	.latest-blog-item:nth-child(3) {
		display: none;
	}
	.share-list__item:nth-child(1) {background-color: #3B5998;}
	.share-list__item:nth-child(2) {background-color: #55ACEE;}
	.share-list__item:nth-child(3) {background-color: #DD4B39;}
	.share-list__item:nth-child(4) {background-color: #4ACE95;}
	.tour-item {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	.tour-item:not(:last-child) {
		margin-bottom: 100px;
	}

	.tour-item__text {
		width: 100%;
		text-align: center;
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
		max-width: 100%;
	}

	.tour-item__img {
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}

	.tour-item__text h2::after {
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}

	.tour-item__text p {
		text-align: center;
	}
	.footer-top-item:first-child {
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}
	.footer-top-item:not(:first-child) {
		margin-left: 30px;
	}}
@media (max-width: 991px) {
	.site-header .container {
		max-width: none;
	}

	.menu {
		padding-left: 40px;
		padding-right: 40px;
	}
	.is-open + .menu-button .menu-button__wrapper {
		position: static;
	}
	.index-slide__text h2 {
		font-size: 42px;
		line-height: normal;
	}
	.index-tabs--blog {
		margin-bottom: 30px;
	}
	.article-content__main,
	.article-content__sidebar {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.article-content__sidebar {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	}

	.article-content__main {
		padding-left: 15px;
		padding-right: 15px;
	}

	.article-content__main small {
		text-align: center;
	}
	.sidebar-subscribe form {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.sidebar-subscribe .subscribe__email,
	.sidebar-subscribe .subscribe__submit,
	.sidebar-share a {
		margin-left: 10px;
		margin-right: 10px;
	}

	.sidebar-share__wrapper {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 40px;
	}
	.footer-top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-bottom: 0;
	}

	.footer-top-item {
		width: 340px;
		max-width: 100%;
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
		margin-bottom: 60px;
	}

	.footer-top-item:not(:first-child) {
		margin-left: 0;
	}
	.footer-bottom {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.footer-bottom  a,
	.footer-bottom  b {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}}
@media (max-width: 767px) {
	.site-footer {
		padding-left: 15px;
		padding-right: 15px;
		overflow-x: hidden;
	}
	.menu-nav.is-open ul li:not(:first-child) a {
		font-size: 30px;
	}
	.index-slide__text a {
		font-size: 16px;
	}
	.index-slider__controls {
		top: auto;
		bottom: 30px;
		left: 15px;
		width: calc(100% - 30px);
		height: 70px;
	}
	.index-tabs {
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.index-tabs ul {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.latest-blog-posts__wrapper {
		grid-template-columns: repeat(1, 340px);
	}
	.latest-blog-item:nth-child(3) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.subscribe__wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	.btn {
		width: 180px;
		height: 50px;
		font-size: 18px;
		line-height: 50px;
	}
	.tour-item__img {
		width: 100%;
		max-width: 100%;
	}
	.tour-slider__item {
		padding-left: 15px;
		padding-right: 15px;
	}

	.tour-slider__item > div {margin-top: 20px;}
	.tour-slider__controls .tour-slider__left {left: 25px;}
	.tour-slider__controls .tour-slider__right {right: 25px;}
	.tour-slider__controls {top: -16px;}
	.tour-slider__controls span {opacity: 0.7;}
	.text-page {
		padding-top: 40px;
		margin-bottom: 40px;
	}
	.text-container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.index-tabs--blog {
		padding-bottom: 20px;
	}

	.blog-title h1,
	.blog-title__category {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.blog-title__category-btn {
		margin-left: auto;
		margin-right: auto;
	}
	.article-img__title {
		padding: 30px 10px;
	}

	.article-img__title h1 {
		font-size: 24px;
		line-height: 33px;
	}

	.article-img__title p {
		font-size: 18px;
		line-height: 24px;
	}}
@media (max-width: 641px) {}
@media (max-width: 479px) {
	.menu {
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu-button__wrapper {
		margin-right: 15px;
	}
	.menu-nav {
		padding-right: 0;
	}

	.menu-nav.is-open ul li:first-child {
		left: 15px;
	}

	.menu-nav.is-open ul li:not(:first-child) {
		margin-bottom: 20px;
	}
	.all-sites {
		height: 70px;
	}

	.all-sites ul li {
		margin-left: 2px;
		margin-right: 2px;
	}
	.index-slide,
	.index-slide__img picture,
	.index-slide__img img {
		height: 320px;
		min-height: 320px;
	}
	.index-slide__text h2 {
		font-size: 36px;
		margin-top: 0;
		margin-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.all-sites ul li {
		margin-left: 2px;
		margin-right: 2px;
	}
	.latest-blog-posts__wrapper {
		grid-template-columns: repeat(1, 1fr);
		max-width: 100%;
	}
	.latest-blog-item:nth-child(3) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.subscribe__wrapper {
		min-height: 440px;
	}

	.subscribe h2 {
		font-size: 20px;
		line-height: 27px;
		margin-top: 50px;
	}

	.subscribe p {
		font-size: 14px;
		line-height: 26px;
	}

	.subscribe .subscribe__email {
		text-align: center;
		padding-right: 28px;
	}

	.subscribe .subscribe__submit {
		position: static;
		display: block;
		margin: 20px auto 0;
	}
	.specials-item__wrapper {
		width: 290px;
		min-height: 200px;
	}
	.spa-package-item__wrapper {
		width: 290px;
		min-height: 200px;
	}}

/*# sourceMappingURL=styles.css.map */
