/*  
Theme Name: Soho wellness  
Theme URI: https://www.smartnextstudio.com/
Version: 0.0.1
Author: smartnextstudio
Author URI: https://www.smartnextstudio.com/
License: GNU General Public License 
License URI: license.txt
*/

img {
    max-width: 100%;
    height: auto;
}

.logged-in .site-header {
    top: 32px;
}

.menu-nav .current-menu-item a {
    color: #4ACE95;
}

.empty-article-picture {
    background-color: #B6B6B6;
}

div.wpcf7 {
    margin-left: auto;
    margin-right: auto;
}

.wpcf7 > form {
    width: 100%;
}

.spa-package-item__wrapper img,
.specials-item__wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.specials-item {
    margin: 50px 25px;
}

.tour-slider__items {

}